 <nav class="sidebar">
        <div class="logo d-flex justify-content-between">
            <a href="/"><img src="img/logo.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li class="mm-active">
                <a  href="/" >
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="img/menu-icon/2.svg" alt="">
                    <span>Products</span>
                </a>
                <ul>
                    <li><a href="/createproduct">Create Product</a></li>
                    <li><a href="/productlist">Product list</a></li>
                   
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="img/menu-icon/3.svg" alt="">
                    <span>Clients</span>
                </a>
                <ul>
                    <li><a href="/clientlist">Client List</a></li>
                    <li><a href="/findbestclient">Best Client</a></li>
                    
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="img/menu-icon/4.svg" alt="">
                    <span>Offer</span>
                </a>
                <ul>
                    <li><a href="/createoffer">Create Offer</a>
                        
                    </li>
                    <li><a href="/offerlist">offerlist</a>
                       
                    </li>
                </ul>
            </li>
            
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <img src="img/menu-icon/6.svg" alt="">
                    <span>Settings</span>
                </a>
                <ul>
                    <li><a href="/profile">Profile</a>
                    </li>
                   
                </ul>
            </li>
           
        </ul>
    </nav>