{{>header}}



   
    <section class="main_content dashboard_part">

     

        <div class="main_content_iner ">
            <div class="container-fluid plr_30 body_white_bg pt_30">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="white_box mb_30">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">

                                    <div class="modal-content cs_modal">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Log in</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert  alert-dismissible fade show" role="alert" id="Custom_alert_customer" style="display:none;">
                                                <strong id="strongtext">Faild!!</strong> 
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                            <form id="myForm" method="post" >
                                                <div class="">
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter your email" name="email" value="{{bodyData.email}}" id="email">
                                                </div>
                                                <div class="">
                                                    <input type="password" name="password" value="{{bodyData.password}}" class="form-control" id="password" placeholder="Password">
                                                </div>
                                                <div class="">
                                                    <button type="submit" class="btn btn-info w-100">Login</button>
                                                </div>
                                                
                                            </form>
                                          <p>Need an account? <a data-bs-toggle="modal" data-bs-target="#sing_up" data-bs-dismiss="modal" href="#"> Sign Up</a></p>
                                                <div class="text-center">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgot_password"
                                                        data-bs-dismiss="modal" class="pass_forget_btn">Forgot
                                                        Password?</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="footer_part">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="footer_iner text-center">
                                <p>2020 © Influence - Designed by<a href="#"> Dashboard</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{{>footer}}

  <script>
        const myForm = document.getElementById("myForm")
        const email = document.getElementById("email")
        const password = document.getElementById("password")
        const custom_alert_box = document.getElementById("Custom_alert_customer")
        const strongtext = document.getElementById("strongtext")
        myForm.addEventListener("submit", async(e)=> {
            e.preventDefault();
            //const formData = new FormData();
            //formData.append("email", email.value);
           // formData.append("password", password.value);
           // console.log("formdata",formData)
           const data = {
             email:email.value,password:password.value
           }   
           console.log("body data:",data)
                
                 fetch("http://localhost:5000/api/admin/login", {
                    method: "POST", // or 'PUT'
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log("Success:", data);
                        if(data.msg){
                          custom_alert_box.style.display="block"
                          custom_alert_box.classList.add('alert-danger')
                         strongtext.innerText= data.msg
                        }else{
                          custom_alert_box.style.display="block"
                          custom_alert_box.classList.remove('alert-danger')
                          custom_alert_box.classList.add('alert-success')
                          strongtext.innerText= 'success! you are redirecting...'
                            // Apply setCookie
                          setCookie('accesstoken', data.token, 30);
                          window.scrollTo({ top: 0, behavior: 'smooth' })
                            setTimeout(()=>{
                                location.href = '/admin';
                            }, 3000);
                        }
                         
                            
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                         custom_alert_box.style.display="block"
                         strongtext.innerText="failed!! Invalid Credentials"
                        window.scrollTo({ top: 0, behavior: 'smooth' })
                        setTimeout(()=>{
                            custom_alert_box.style.display="none"
                        }, 5000);
                    });
                   
                    
                
               
        });

            // Set a Cookie
            function setCookie(cName, cValue, expDays) {
                    let date = new Date();
                    date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
                    const expires = "expires=" + date.toUTCString();
                    document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
            }

          
    </script>